@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <style>
        .wide {
            width: 80%;
            min-width: 80%;
        }
    </style>
    <div>
        <h3>Output Data</h3>
        <input id="Text1" type="text" CssClass="wide" />
        <TextBox ID="TextBox1" TextMode="MultiLine" runat="server" Height="200px" CssClass="wide"></TextBox>
        <hr />
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
        <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
    </div>
</body>
</html>
